---
// import TitleSection from "../../components/TitleSection.astro";
import profile_dev from "../../../public/Header/ProfileDev.png"

---

<section class="py-10 flex justify-center items-center gap-5 bg-redd-500">
    <picture class="w-[400px] h-[400px] bg-redd-500 rounded-full">
        <img src={profile_dev.src} alt="" class="">
    </picture>
    <section class="w-[550px] flex flex-col justify-start items-start gap-3">
        <h2 class="font-semibold text-neutral-700 text-4xl">SOBRE MI</h2>
        <p class="text-sm font-medium">Soy Juan José, desarrollador Fullstack Jr. Inicialmente interesado en ciberseguridad y videojuegos en 2022, me adentré en el desarrollo web. Comenzando de una manera Autodidacta y graduado de bootcamps como SoyHenry, donde he fortalecido habilidades tecnicas como blandas.</p>
        <p class="text-sm font-medium">Mi enfoque se basa en la práctica constante y la adquisición continua de habilidades para ofrecer soluciones innovadoras. Con experiencia en frontend, backend y bases de datos, domino tecnologías clave como React, Express y PostgreSQL/MongoDB.</p>
    </section>

</section>