---
// import TitleSection from "../../components/TitleSection.astro";
import profile_dev from "../../../public/Header/ProfileDev.png"
import TimeLine from "../../components/TimeLine.astro"

---

<section class="max-w-[1150px] mx-auto flex flex-col justify-start items-start gap-3 pb-10 pt-0 bg-redd-500 ">
    <section  class="w-full py-10 flex justify-center items-start flex-col md:flex-row gap-10 lg:gap-16 bg-redd-500">
        <picture class="max-w-[400px] max-h-[400px] max-md:mx-auto bg-redd-500 rounded-full bg-neutral-300">
        <!-- <picture class="w-[400px] h-[400px] bg-redd-500 rounded-full shadow-md shadow-black bg-neutral-300"> -->
            <img src={profile_dev.src} alt={profile_dev.src} class="rounded-full drop-shadow-[10px_10px_7px_#5d5d5d]">
        </picture>
        <section class="w-[90%] mx-auto md:mx-0  md:w-[550px] py-5 pr-2 flex flex-col justify-start items-start gap-3 bg-blued-500">
            <h2 class="font-semibold text-neutral-700 text-4xl">SOBRE MI</h2>
            <p class="text-sm sm:text-base font-normal text-neutral-600">Soy Juan José, <b class="font-medium text-primary">desarrollador Fullstack Jr</b>. Inicialmente interesado en ciberseguridad y videojuegos en 2022, me adentré en el desarrollo web. Comenzando de una manera <b class="font-medium text-primary">Autodidacta</b> y graduado de bootcamps como SoyHenry, donde he fortalecido <b class="font-medium text-primary">habilidades tecnicas como blandas</b>.</p>
            <p class="text-sm sm:text-base font-normal text-neutral-600">Mi enfoque se basa en la <b class="font-medium text-primary">práctica constante</b> y la adquisición continua de habilidades para ofrecer soluciones innovadoras. Con <b class="font-medium text-primary">experiencia en frontend, backend y bases de datos</b>, domino del stack <b class="font-medium text-primary">PERN/MERN</b> con tecnologías clave como React, Express y PostgreSQL/MongoDB.</p>
        </section>
    </section>
<section class="max-w-[1150px] w-[90%] mx-auto min-h-[200px] md:pt-16 flex justify-start items-start flex-col md:flex-row gap-y-5 md:gap-y-0 bg-redd-500">
    <TimeLine title="Secundaria" year="2018 - 2022" text="Bachiller en Ciencias Sociales y Humanidades - EEM N°4 Homero Manzi"/>
    <TimeLine title="SoyHenry" year="08 May - 25 Ago - 2023" text="Bootcamp intensivo de 800+ horas en tecnologías Fullstack y habilidades blandas."/>
    <TimeLine title="Autodidacta" year="24 Sep / 2022 - Actualidad" text="Autodidacta en desarrollo full-stack, explorando tecnologías y mejores estándares."/>
    <TimeLine title="Ing. Informatico" year="24 Sep / 2022 - Actualidad" text="Estudiante de Ingeniería en Informática, Universidad de Buenos Aires (UBA)."/>
</section>
