---
import TitleSection from "../../components/TitleSection.astro";

---

<section class="max-w-[1150px] mx-auto flex flex-col justify-start items-start gap-3 py-10 bg-redd-500 ">
    <h2 class="text-start text-4xl font-semibold tracking-widest bg-redd-500 text-neutral-800">CONTACTAME</h2>
    <p class="w-[60%] text-sm text-start">Si estás en la búsqueda de un colaborador motivado y comprometido para futuros proyectos, estoy disponible para ser parte de tu equipo. Estoy abierto a explorar oportunidades de colaboración. Si consideras que puedo aportar valor a tu equipo, no dudes en ponerte en contacto. Hasta pronto.</p>
</section>