---
import github from "../../../public/ImageContact/ProfileGithub.jpg"
import linkedin from "../../../public/ImageContact/Linkedin.jpg"
// import imagotipo from "../../../public/Logo/Imagotipo2.png"

---

<section class="max-w-[1150px] mx-auto flex flex-col justify-start items-start gap-3 pb-10 pt-5 bg-redd-500 ">
    <h2 class="text-start text-4xl font-semibold tracking-widest bg-redd-500 text-neutral-800">CONTACTAME</h2>
    <div class="bg-redd-500 flex justify-between items-center">
        <p class="w-2/5 text-sm text-start text-neutral-800">Si estás en la búsqueda de un colaborador motivado y comprometido para futuros proyectos, estoy disponible para ser parte de tu equipo. Estoy abierto a explorar oportunidades de colaboración. Si consideras que puedo aportar valor a tu equipo, no dudes en ponerte en contacto. Hasta pronto.</p>
        <section class="w-1/2 flex flex-col justify-center items-center gap-y-3 bg-greend-500 ">
            <div class="w-[425px] cursor-pointer relative flex justify-center items-center border border-neutral-300 rounded-md bg-[#0D1117]">
                <div class="w-full h-full text-2xl font-semibold text-neutral-800 tracking-[15px] hover:opacity-0 absolute top-0 left-0 bg-[#e7e1e1] opacity-100 flex justify-start gap-5 items-center transition-opacity duration-500"><i class="bx bxl-github bx-md ml-3"/> GITHUB</div>
                <picture class="w-[70px] h-[85px] flex justify-center items-center bg-redd-500">
                    <img src={github.src} alt="" class="w-[35px] h-[35px] rounded-full mb-5">
                </picture>
                <ul class="w-full h-full flex flex-col justify-center items-start gap-y-1">
                    <li class="text-xs text-white font-light flex justify-start items-center gap-2"><h2>JoseChambi</h2><p class="text-[10px] text-neutral-400">JuanJoseChambi</p></li>
                    <li class="text-[8px] text-neutral-400 font-light">Fullstack JR Developer / Desarrollador | Javascript | Typescript | React | Vite | Redux | Sass | Tailwind | Style Module | Node | Express | PostgreSQL | MongoDB</li>
                    <li class="text-[8px] text-neutral-400"><i class="bx bx-map mr-1 text-[12px]"/>Buenos Aires, Argentina</li>
                </ul>
            </div>
            <div class="w-[425px] cursor-pointer relative flex justify-center items-center border border-neutral-300 rounded-md bg-[#1B1F23]">
                <div class="w-full h-full text-2xl z-10 font-semibold text-neutral-800 tracking-[15px] hover:opacity-0 absolute top-0 left-0 bg-[#e7e1e1] opacity-100 flex justify-start gap-5 items-center transition-opacity duration-500"><i class="bx bxl-linkedin bx-md ml-3"/> LINKEDIN</div>
                <div class="w-[70px] h-[85px] flex justify-center items-center">
                    <picture class="w-[35px] h-[35px] relative flex justify-center items-center bg-redd-500">
                        <img src={linkedin.src} alt="" class="rounded-full">
                        <div class="absolute bottom-0 right-0 w-[10px] h-[10px] bg-green-500 rounded-full"></div>
                    </picture>
                </div>
                <ul class="w-full ">
                    <li class="text-white text-xs flex justify-start items-center gap-1"><h2>Juan Jose Chambi</h2><p class="text-neutral-400 text-[10px]">• 1er</p></li>
                    <li class="text-[8px] text-white font-light">Desarrollador | Frontend | Tailwind | React | Typescript | NodeJS | Express | PostgreSQL | MongoDB</li>
                    <li class="text-[8px] text-neutral-400 font-light">Buenos Aires</li>
                </ul>
            </div>
        </section>
    </div>
</section> 
<!-- 
<picture class="w-1/2 flex justify-center items-center bg-redd-500">
    <img src={imagotipo.src} alt="" class="w-[300px] drop-shadow-[5px_5px_3px_#737373] bg-neutral-5000">
</picture> -->

