---
import imagotipo from "../../../public/Logo/Imagotipo2.png"

---

<footer class="w-full bg-neutral-800">
    <section class="area py-10 flex justify-center items-center">
        <picture class="w-1/2 flex justify-center items-center">
            <img src={imagotipo.src} alt="" class="w-[200px] invert">
        </picture>
    </section>
</footer>