---

import Isotipo from "../../../public/Logo/Isotipo.png"
// import jose from "../../../public/Header/Jose.png"
import ButtonAnchor from "../../components/ButtonAnchor.astro"

---

<header class="w-full h-screen relative flex justify-center items-center flex-col" id="INICIO">
    <div class="w-full flex flex-col justify-center items-center">
        <div class="min-w-[90%] sm:min-w-[50%] flex justify-between items-center  gap-x-10 bg-redd-500">
            <h2 class="text-4xl md:text-6xl font-black -tracking-widest">DESARROLLADOR</h2>
            <div class="w-[30%] text-xs font-light">
                <p>Desarrollador</p>
                <p>Frontend</p>
                <p>Backend</p>
                <p>UX</p>
                <p>UI</p>
            </div>
        </div>
        <div class="min-w-[90%] sm:min-w-[50%] flex justify-end items-end bg-redd-500">
            <h2 class="text-4xl md:text-6xl font-black -tracking-widest">FULLSTACK</h2>
        </div>
    </div>
    <h2 class="text-sm text-center absolute bottom-[100px] tracking-[20px]">JUAN JOSE <br/> CHAMBI</h2>
    <!-- <h2 class="text-3xl tracking-widest font-semibold">JUAN JOSE</h2> -->
    <picture class="w-[60px] h-[60px] absolute bottom-2 flex justify-center items-center">
        <img src={Isotipo.src} alt="">
    </picture>
</header>

<!-- <picture class="w-[80px] h-[80px] absolute bottom-2 flex justify-center items-center">
    <img src={Isotipo.src} alt="">
</picture> -->


<!-- <header class="w-full h-screen flex justify-center items-center" id="INICIO">
    <section class="area py-2 px-10 bg-redd-500 flex flex-col justify-between items-center bg-greend-500">
        <div class="w-1/2 bg-redd-500 flex justify-center items-center bg-redd-500">
            <picture class="min-w-[200px] w-[55%]">
                <img src={Isotipo.src} alt="Juan Jose" class="drop-shadow-[10px_10px_5px_#737373]">
            </picture>
        </div>
        <div class="w-full lg:w-1/2 bg-redd-500">
            <h3 class="w-full text-6xl sm:text-8xl text-center font-bold">Juan Jose</h3>
            <h1 class="text-sm sm:text-base text-[20px] text-center text-gray_light font-medium">Desarrollador <b class="text-primary">Frontend / Backend</b> 
                <br/>Estudiante en <b class="text-primary">Ingenieria Informatica
            </h1> 
            <h2 class="text-[20px] text-center text-gray_light font-medium"></b></h2>
            <div class="flex justify-center items-center gap-5">
                <ButtonAnchor title="Gmail" href="https://mail.google.com/mail/u/0/?fs=1&to=chambijuanjose05@gmail.com&tf=cm" icon="bx bxl-gmail"/>
                <ButtonAnchor title="Linkedin" href="https://www.linkedin.com/in/juanjosechambi/" icon="bx bxl-linkedin-square"/>
            </div>
        </div>
        
    </section>
</header> -->




<!-- 
<h3 class="text-8xl font-bold">Juan Jose</h3>
            <h1 class="text-[20px] text-gray_light font-medium">Desarrollador <b class="text-primary">Frontend / Backend</b></h1> 
            <h2 class="text-[20px] text-gray_light font-medium">Estudiante en <b class="text-primary">Ingenieria Informatica</b></h2> 
            <div class="flex justify-start items-center gap-5">
                <ButtonAnchor title="Gmail" href="https://mail.google.com/mail/u/0/?fs=1&to=chambijuanjose05@gmail.com&tf=cm" icon="bx bxl-gmail"/>
                <ButtonAnchor title="Linkedin" href="https://www.linkedin.com/in/juanjosechambi/" icon="bx bxl-linkedin-square"/>
            </div> -->