---
import versa from "../../../public/Projects/VersaShop.png"
import Card from "../../components/Card.astro"
import TitleSection from "../../components/TitleSection.astro"

---
<main class="area bg-redd-500">
    <TitleSection title="PROYECTOS"/>
    <section class="py-10 flex justify-center items-center flex-col gap-y-10 bg-blued-500">
        <Card image={versa.src}/>
        <Card image={versa.src}/>
    </section>

</main>