---
import CardServices from "../../components/CardServices.astro";

---

<section class="max-w-[1150px] w-[90%] py-10 mx-auto flex flex-col justify-center items-center bg-redd-500">
    <div class="w-full py-5 flex justify-around items-center bg-greend-500">
        <CardServices title="FRONTEND" icon="bx bx-credit-card-front"/>
        <CardServices title="BACKEND" icon="bx bx-server"/>
        <CardServices title="DISEÑO" icon="bx bx-palette"/>
        <CardServices title="RE-DISEÑO" icon="bx bxs-color"/>
    </div>
    <!-- <div class="w-full pb-5 flex justify-evenly bg-greend-500 items-center gap-5"> -->
    <!-- </div> -->
</section>