---
import TitleSection from "../../components/TitleSection.astro";
// import { tecnologias } from "../../../public/Skills/Skills.js"
// console.log(tecnologias);


---

<section class="area h-screen">
    <TitleSection title="HABILIDADES"/>
    <section class="bg-red-500 ">

    </section>
</section>