---

import TitleSection from "../../components/TitleSection.astro";
const svgmodules : Record<string, { default: string }> = import.meta.glob("../../../public/Skills/*.svg",{ eager: true });

const svgs = Object.entries(svgmodules).map(([path, module]: [string, {default: string}]) => ({
    path:path.replace('/public', ''),
    content: module.default
}));

---

<section class="area h-screen">
    <TitleSection title="HABILIDADES" />
    <section class="bg-redd-500">

        <div class="flex justify-center items-center gap-5">
            {svgs.map((svg) => (
                <img class="w-[50px] h-[50px]" src={svg.path} alt="" />
            ))}
        </div>

    </section>
</section>