---
interface Props {
	image: string;
}

const { image } = Astro.props;
---

<div class="max-w-[1100px] mx-auto flex justify-between items-start bg-redd-500">
	<picture class="w-[430px] h-[250px] flex justify-start items-start overflow-hidden rounded-md">
		<img src={image as string} alt="">
	</picture>
	<section class="w-2/3 pl-4 flex flex-col justify-start items-start bg-blued-500">
		<h2 class="pb-2 font-semibold text-3xl text-neutral-800">VERSA - Tienda de ropa Vintage </h2>
		<p class="text-sm font-medium text-neutral-700">Versa es un sitio web e-commerce especializada en moda, diseñada para  ofrecer una experiencia de compra en línea intuitiva y atractiva. Este proyecto combina diseño moderno, funcionalidad robusta y una experiencia</p>
	</section>
</div>