---
import logo from "../../public/Logo/Isotipo.png"

---

<nav class="area fixed top-0 left-0 right-0 bg-blued-300 z-50 flex justify-between items-center">
    <picture class="w-[45px] h-[45px] hidden sm:block">
        <img src={logo.src} alt="Juan Jose">
    </picture>
    <ul class="font-semibold text-sm text-gray_light gap-5 flex justify-center itecems-center">
        <li class="cursor-pointer">INICIO</li>
        <li class="cursor-pointer">PROYECTOS</li>
        <li class="cursor-pointer">HABILIDADES</li>
        <li class="cursor-pointer">SOBRE MI</li>
        <li class="cursor-pointer">CONTACTO</li>
    </ul>
</nav>