---

const {title} = Astro.props

---

<!-- <h3 class=" md:max-w-[1225px] mx-auto text-4xl px-0 md:px-16 pt-[50px] font-semibold tracking-widest bg-redd-500 text-neutral-800">{title}</h3> -->
<h3 class="w-full text-center sm:text-start text-4xl font-semibold tracking-widest bg-redd-500 text-neutral-800 dark:text-neutral-200">{title}</h3>
