---
export function getStaticPaths() {
  return [
    {params: {dog: 'versa'}},
    {params: {dog: 'pa'}},
    {params: {dog: 'mmarket'}},
  ];
}

const { dog } = Astro.params;
---
<div>¡Buen chico, {dog}!</div>